:root {
	--clr-primary: #2779a7;
	--clr-primary2: #166896;
	--clr-bg-off: #fefefe;
	--clr-secondary: #c5c6c7;
	/* --clr-secondary: #daad86; */
	--clr-light: #fbeec1;
	--clr-success: #5cdb95;
	--clr-success2: #4bca84;
	--clr-danger: #ff652f;
	--clr-danger2: #ff541d;
	--clr-action: #bc986a;
}

body {
	background: var(--clr-bg-off);
	color: #333;
	margin-top: 5rem;
	width: 90%;
	margin: 5rem auto auto auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
}

ul {
	margin: 0;
}

.bg-steel {
	background-color: var(--clr-primary);
}

.brand {
	color: var(--clr-secondary) !important;
}
.site-header .navbar-nav .nav-link {
	color: var(--clr-secondary);
}

.site-header .navbar-nav .nav-link:hover {
	color: #eee;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}
/* /////// */
.bg-info {
	background-color: var(--clr-primary) !important;
}

.btn-info {
	background-color: var(--clr-primary);
	border-color: var(--clr-primary);
}
.btn-outline-info {
	color: var(--clr-primary);
	border-color: var(--clr-primary);
}
.btn-info:hover {
	background-color: var(--clr-primary2);
	border-color: var(--clr-primary2);
}
.btn-outline-info:hover {
	background-color: var(--clr-primary);
	border-color: var(--clr-primary);
}
.btn-outline-info.active {
	background-color: var(--clr-primary2);
	border-color: var(--clr-primary2);
}
/* //// */
.bg-primary {
	background-color: var(--clr-primary) !important;
}

.btn-primary {
	background-color: var(--clr-primary);
	border-color: var(--clr-primary);
}
.btn-outline-primary {
	color: var(--clr-primary);
	border-color: var(--clr-primary);
}
.btn-primary:hover {
	background-color: var(--clr-primary2);
	border-color: var(--clr-primary2);
}
.btn-outline-primary:hover {
	background-color: var(--clr-primary);
	border-color: var(--clr-primary);
}
.btn-outline-primary.active {
	background-color: var(--clr-primary2);
	border-color: var(--clr-primary2);
}
/* //// */
.bg-danger {
	background-color: var(--clr-danger) !important;
}
.btn-danger {
	background-color: var(--clr-danger);
	border-color: var(--clr-danger);
}
.btn-outline-danger {
	color: var(--clr-danger);
	border-color: var(--clr-danger);
}
.btn-danger:hover {
	background-color: var(--clr-danger2);
	border-color: var(--clr-danger2);
}
.btn-outline-danger:hover {
	background-color: var(--clr-danger);
	border-color: var(--clr-danger);
}
.btn-outline-danger.active {
	background-color: var(--clr-danger2);
	border-color: var(--clr-danger2);
}
/* //// */
.bg-success {
	background-color: var(--clr-success) !important;
}

.btn-success {
	background-color: var(--clr-success);
	border-color: var(--clr-success);
}
.btn-outline-success {
	color: var(--clr-success);
	border-color: var(--clr-success);
}
.btn-success:hover {
	background-color: var(--clr-success2);
	border-color: var(--clr-success2);
}
.btn-outline-success:hover {
	background-color: var(--clr-success);
	border-color: var(--clr-success);
}
.btn-outline-success.active {
	background-color: var(--clr-success2);
	border-color: var(--clr-success2);
}
