{% extends "todo/base.html"%}
{% block content %}
{% load crispy_forms_tags %}
<div class="mx-auto col-sm-10">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group mx-auto">
            <legend class="border-bottom mb-4">Add New TODO</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-primary float-right" type="submit">ADD</button>
        </div>
    </form>
</div>
{% endblock content %}